# Python
**/__pycache__/
**/.venv/
f1_test.ipynb

# dbt
profiles.yml
logs/
.user.yml

# Kestra & Docker
.env*
kestra_data/
kestra_postgres_data/
kestra_wd/
pgadmin_data/
main_tutorial*

# Terraform
.terraform/
# .terraform.lock.hcl
*.tfstate
*.tfstate.*
terraform_creds.json
crash.*.log
*.tfvars
*.tfvars.json

# Raw Data
*.csv
*.csv.gz
*.json
*.parquet
**/data/
cache/
f1_cache/
f1_raw_data/
.bruin.yml