f1_analytics_dbt:
  outputs:
    dev:
      dataset: [GCP_DATASET_NAME]
      job_execution_timeout_seconds: 300
      job_retries: 1
      keyfile: [GCP_SERVICE_ACCOUNT_JSON_FILE_PATH]
      location: [GCP_PROJECT_LOCATION]
      method: service-account
      priority: interactive
      project: [GCP_PROJECT_ID]
      threads: 1
      type: bigquery
  target: dev